/* 全局样式 */
body {
    font-family: Arial, sans-serif;
}

/* 登录和注册部分 */
#login-section,
#register-section {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#login-section h2,
#register-section h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#login-section form,
#register-section form {
    display: flex;
    flex-direction: column;
}

#login-section label,
#register-section label {
    margin-bottom: 0.5rem;
}

#login-section input,
#register-section input,
#login-section select,
#register-section select {
    margin-bottom: 0.5rem;
    /* 减少输入框和选择框之间的间距 */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

#login-section .btn,
#register-section .btn {
    align-self: center;
}

#login-section p,
#register-section p {
    text-align: center;
}

/* 错误消息样式 */
.error-message {
    color: red;
    font-size: 0.8rem;
    display: none;
    margin-top: -0.45rem;
    /* 调整错误消息与输入框之间的垂直间距 */
    margin-bottom: 0.5rem;
    /* 确保错误消息下方有足够的空间 */
}